@import './elementui.scss';
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
html,body,#app{
    width: 100%;
    height: 100%;
}
@mixin lable($width, $hori, $mill, $flex:"flex") {
    width: $width;
    display: $flex;
    justify-content: $hori;
    align-items: $mill;
}
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}