@import './elementui.scss';
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
html,body,#app{
    width: 100%;
    height: 100%;
}
@mixin lable($width, $hori, $mill, $flex:"flex") {
    width: $width;
    display: $flex;
    justify-content: $hori;
    align-items: $mill;
}